.card {
  margin: 0.6rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 16px;
  margin: 0;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: #f5a527;
}

.desc {
  font-size: 12px;
  font-weight: 400;
}

.dates {
  display: flex;
  justify-content: space-between;
}

.date {
  display: inline-block;
  background-color: white;
  padding: 0.1em 0.4em;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 500;
  color: black;
  margin: 4px 0 0 0;
}