form {
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 10px;
}

.date-group {
  display: flex;
  flex-flow: column;
}

.bg-img {
  display: flex;
  margin: 1rem;
  color: white;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.submit button:disabled,
.submit button[disabled]{
  background-color: #CCCCCC;
  color: #666666;
}

.preview {
    margin: 2rem 0;
}