<div class="login-div">
  <div class="title">Login</div>
  <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
    <div class="fields">
      <div class="username">
        <input
          formControlName="email"
          name="email"
          type="email"
          placeholder="email"
        />
      </div>
      <div class="password">
        <div>
          <input
            formControlName="password"
            name="password"
            type="password"
            placeholder="password"
          />
        </div>
      </div>
    </div>
    <button class="signin-button" type="submit" [disabled]="!loginForm.valid">Login</button>
    <div class="link">
      <a href="#">Forgot password?</a> or <a href="/auth/register">Sign up</a>
    </div>
  </form>
</div>
