<div class="register-div">
  <div class="title">Register</div>

  <form [formGroup]="registerForm" autocomplete="off">
    <div class="fields">
      <div class="text">
        <input
          formControlName="fullName"
          name="name"
          type="text"
          placeholder="Full name"
          required
        />
      </div>
      <div class="text">
        <input
          formControlName="email"
          name="email"
          type="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="text">
        <input
          formControlName="password"
          name="password"
          type="password"
          placeholder="Password"
          required
        />
      </div>
      <div class="text">
        <input
          formControlName="confirmPassword"
          name="confirmPassword"
          type="password"
          placeholder="Confirm password"
          required
        />
      </div>

      <button class="signin-button" type="submit" [disabled]="!registerForm.valid" (click)="register()">Register</button>
      <div class="link">
        Already have an account?<a href="/auth/login"> Login</a>
      </div>
    </div>
  </form>
</div>
