<div class="section">
  <div class="search-section" *ngIf="offerListFiltered">
    <input
      cdkFocusInitial
      class="search-input"
      name="offerSearch"
      type="email"
      placeholder="Search for contact"
      [(ngModel)]="offerSearch"
      autocomplete="off"
      (ngModelChange)="offerInputChanged()"
    />
  </div>

  <div *ngIf="offerListFiltered">
    <div class="content">
      <offer-card
        *ngFor="
          let offer of offerListFiltered
        "
        [offer]="offer"
      ></offer-card>
      <mat-divider></mat-divider>
    </div>
  </div>

  <div *ngIf="!offerList && isLocationSet">
    <mat-card class="card">
      <mat-card-content>
        <div class="card-top">
          <mat-icon aria-hidden="false" aria-label="city icon" class="card-icon"
            >location_city</mat-icon
          >
          <div class="card-info">
            <h2>No data for selected city</h2>
            <p>
              We don't have data for your city at this moment. Send us a request
              to add your city.
            </p>
            <button mat-button color="accent" (click)="requestNewCity()">
              CITY REQUEST
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="!offerList && !isLocationSet">
    <mat-card class="card">
      <mat-card-content>
        <div class="card-top">
          <mat-icon aria-hidden="false" aria-label="city icon" class="card-icon"
            >add_location</mat-icon
          >
          <div class="card-info">
            <h2>Location Not Set</h2>
            <p>
              You have not set any location. Please "Set Location" to see
              Emergency Contacts.
            </p>
            <button mat-button color="accent" (click)="setLocation()">
              SET LOCATION
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="isLoading" class="spinner-bg">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
