<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  body {
    background-color: lightgray;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #c8c7c7;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  /* .footer {
    display: flex;
    justify-content: center;
  } */

  .footer {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #c1c1c1;
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
    header {
      font-size: 32px;
    }
    .toolbar {
      font-size: 28px;
    }
    .toolbar img {
      width: 60px;
    }
  }
</style>

<!-- Toolbar -->
<div role="banner" class="toolbar">
  <a href="/">
    <img width="40" alt="Angular Logo" src="../assets/images/logo.png" />
  </a>
  <!-- <span class="header">Emergency</span> -->
  <div class="spacer"></div>

  <mat-chip-list aria-label="Location Selection" class="locationBtn">
    <mat-chip
      color="primary"
      selected
      (click)="chnageLocation()"
      (removed)="removeLocation()"
      >{{ currentLocation }}
      <button matChipRemove *ngIf="currentLocation != 'Set Location'">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
</div>

<div class="container">
  <mat-card *ngIf="isOffline">
    <mat-card-content>
      <div class="offline-top">
        <mat-icon
          aria-hidden="false"
          aria-label="offline icon"
          class="offline-icon"
          >cloud_off</mat-icon
        >
        <div class="offline-info">
          <h2>Offline</h2>
          <p>
            Your network is unavailable. Check your data or wifi cinnection.
          </p>
          <button mat-button color="accent" (click)="reloadPage()">
            RETRY
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <router-outlet></router-outlet>
  <offer-list></offer-list>
</div>

<div class="footer">
  <p>© 2022, salesndeals.com</p>
</div>