.card {
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  width: 100px;
  height: 60px;
  padding: 10px 6px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.callBtn {
  color: #2962ff;
  font-size: 20px;
  margin-right: 0.5rem;
}

.reportBtn {
  color: #f5a527;
  font-size: 20px;
  margin-left: 0.5rem;
}

h2 {
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 12px;
}

h3 {
  font-size: 10px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 12px;
  color: #b00020;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc {
  font-size: 12px;
  font-weight: 400;
}
